<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/"><h1>Главная страница</h1></a>
    <form action="" method="post">{% csrf_token %}
          <label>Название: {{ form.title }}</label>
          <label>Группа: {{ form.category }}</label>
          <label>Количество: {{ form.amount }}</label><br>
          <label>Номер и дата документа: {{ form.document }}</label>
          <label>Организация: {{ form.organization }}</label><br>
          <label>Стоимость за еденицу: {{ form.price }}</label>
          <label>Размер: {{ form.size }}</label>
          <label>Ширина: {{ form.width }}</label>
          <label>Длина: {{ form.length }}</label>
          <label>Высота: {{ form.height }}</label>
          <label>Серийный номер: {{ form.serial }}</label><br>
          <label>Примечание: {{ form.note }}</label><br>
          <button type="submit">Записать</button>
    </form>
</body>
</html>